:root {
    --kuning: #ffee00;
    --hitam: #212121;
    --abu: #3a3a3a;
    --putih: #FFFFFF;
    --desc: #C0C0C0;
    --header: #2f2f2f;
    --shadow: #00000073;
    --glass: #ffffff0a;
    --glass-header: #00000080;
    --dark: #000000cc;
    --accent: #ffd600;
    --radius: 14px;
    --poppins: 'Poppins', sans-serif;
    --roboto: 'Roboto', sans-serif;
    --bbh: 'BBH Sans Hegarty', sans-serif;
    --archivo-black: 'Archivo Black', sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    position: relative;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* header */
header {
    position: fixed;
    z-index: 999;
    top: 1rem;
    width: 80%;
    height: auto;
    padding: 0.7rem 1.2rem;
    border-radius: 999px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--glass-header);
}

.logo {
    position: relative;
    width: 2.5rem;
    height: 2.5rem;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
}

nav ul {
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    position: relative;
    text-decoration: none;
    color: var(--putih);
    font-size: normal;
    font-weight: 500;
    font-family: var(--poppins);
    transition: 0.2s ease-in-out;
    cursor: pointer;
}

nav ul li a:hover {
    color: var(--accent);
}

.menu-btn {
    display: none;
}
.menu-cont {
    display: none;
}

.home {
    position: relative;
    display: grid;
    place-items: center;
    overflow-x: hidden;
    background: var(--hitam);
    width: 100%;
    height: 100vh;
    padding: 1rem 10%;
}

.home-bg {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
    z-index: 0;
    pointer-events: none;
    opacity: 0.95;
    mix-blend-mode: screen;
    transition: opacity .4s ease;
}

@media (prefers-reduced-motion: reduce) {
    .home-bg {
        display: none;
    }
}

        .home-cont {
            position: relative;
            width: 75%;
            height: 100%;
            display: flex;
            align-items: center;
            gap: 1rem;
        }

.home-cont-child {
    position: relative;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.home-title {
    font-size: 3.5rem;
    font-weight: 1000;
    margin: 0.05rem 0 0.6rem 0;
    color: var(--putih);
    line-height: 1.02;
    font-family: var(--poppins);
    text-transform: uppercase;
}

.accent {
    color: var(--accent);
}

.home-lead {
    color: var(--desc);
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: "Poppins", sans-serif;
}

.home-lead a {
    text-decoration: none;
    color: var(--accent);
}

.home-btn {
    background: var(--glass-header);
    border: none;
    outline: none;
    color: var(--putih);
    font-size: 1.1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 999px;
    cursor: pointer;
    transition: 0.3s;
}

.home-btn:hover {
    background: var(--glass);
    box-shadow: 0 0 10px var(--accent);
}

.home-btn:active {
    background: var(--accent);
    color: var(--hitam);
}

/* section about */
.about {
    position: relative;
    background: var(--putih);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 5rem 10%;
}

.about-cont {
    position: relative;
}

.about-title {
    font-size: 1.5rem;
    color: var(--hitam);
    font-family: var(--poppins);
    font-weight: 600;
    margin-bottom: 2rem;
}

.about-title span {
    color: var(--accent);
}

.about-lead {
    padding: 2rem;
    box-shadow: 0 0 10px var(--desc);
    border-radius: 35px;
    color: var(--hitam);
    font-size: 1rem;
    line-height: 1.6;
    margin-bottom: 1rem;
    font-family: var(--poppins);
}

.about-cont:nth-child(1) {
    width: 60%;
}

/* untuk gambar about */
.about-cont:nth-child(2) {
    border: 2px solid var(--desc);
    border-radius: 50%;
    padding: 2px;
    width: 350px;
    height: 350px;
}

.about-cont:nth-child(2) img {
    border-radius: 50%;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.cv-download {
    background: var(--hitam);
    border: none;
    outline: none;
    color: var(--putih);
    font-size: 1.1rem;
    padding: 0.7rem 1.2rem;
    border-radius: 999px;
    cursor: pointer;
}

.cv-download:hover {
    background: var(--abu);
}

.cv-download:active {
    animation: cv-download 0.5s ease-in;
}

@keyframes cv-download {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(1);
    }
}

/* skills */
.skills {
    position: relative;
    background: #e4e4e4ce;
    width: 100%;
    height: auto;
    padding: 5rem 10%;
}

.skills-title {
    font-size: 1.5rem;
    color: var(--hitam);
    font-family: var(--poppins);
    font-weight: 600;
    margin-bottom: 1rem;
}

.skills h4 {
    font-size: 1rem;
    color: var(--hitam);
    font-family: var(--poppins);
    font-weight: 600;
    margin-bottom: 0.5rem;
}

.skills hr {
    position: relative;
    width: 100%;
    height: 3px;
    background: var(--hitam);
    border-radius: 3px;
    margin-bottom: 0.5rem;
}

.skills-cont {
    position: relative;
    width: 100%;
    height: auto;
    margin-bottom: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.skills-card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: max-content;
    height: max-content;
}

.skills-card img {
    width: 150px;
    height: auto;
    cursor: pointer;
    transition: 0.3s;
}

.skills-card p {
    position: relative;
    visibility: hidden;
    opacity: 0;
    top: -10px;
    background: var(--dark);
    padding: 0.3rem 0.8rem;
    color: var(--putih);
    font-size: 0.8rem;
    font-family: var(--poppins);
    border-radius: 5px;
    transition: 0.3s;
}
.skills-card:hover img {
    transform: scale(0.9);
}
.skills-card:hover p {
    visibility: visible;
    opacity: 1;
    top: 5px;
    cursor: pointer;
}

/* experiences */
.experiences {
    position: relative;
    background: var(--abu);
    width: 100%;
    padding: 5rem 10%;
}

.exp-title {
    text-align: center;
    font-size: 1.5rem;
    font-family: var(--poppins);
    font-weight: 700;
    color: var(--putih);
    margin-bottom: 4rem;
}

/* TIMELINE WRAPPER */
.zigzag-timeline {
    position: relative;
    max-width: 900px;
    margin: auto;
}

/* GARIS TENGAH */
.zigzag-timeline::before {  
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    width: 3px;
    height: 100%;
    background: var(--accent);
    opacity: 0.8;
    border-radius: 10px;
    box-shadow: 0 0 10px var(--accent);
}

/* ITEM */
.zigzag-item {
    position: relative;
    margin: 4rem 0;
    width: 100%;
}

/* ICON di tengah */
.timeline-icon {
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    
    font-size: 1.9rem;
    color: var(--accent);
    background: var(--abu);
    
    padding: 5px;
    z-index: 20;
}

/* BOX */
.zigzag-content {
    position: relative;
    background: var(--putih);
    padding: 1.7rem 2rem;
    width: 42%;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.12);
}

/* KIRI */
.zigzag-item.left .zigzag-content {
    float: left;
    margin-right: 70px;   /* jarak dari garis tengah */
}

/* KANAN */
.zigzag-item.right .zigzag-content {
    float: right;
    margin-left: 70px;    /* jarak dari garis tengah */
}

/* TEKS */
.zigzag-content h3 {
    margin: 0;
    font-size: 1.25rem;
    color: var(--hitam);
    font-family: var(--poppins);
}

.zigzag-content .year {
    color: var(--accent);
    font-family: var(--poppins);
    font-size: 0.95rem;
    font-weight: 600;
    display: block;
    margin: 0.4rem 0 1rem 0;
}

.zigzag-content p {
    margin: 0;
    line-height: 1.6;
    font-size: 0.9rem;
    color: var(--abu_darker);
    font-family: var(--poppins);
}

/* CLEAR FLOAT */
.zigzag-item::after {
    content: "";
    display: block;
    clear: both;
}

/* RESPONSIVE */
@media (max-width: 850px) {
    .zigzag-content {
        width: 80%;
    }

    .zigzag-item.left .zigzag-content,
    .zigzag-item.right .zigzag-content {
        float: none;
        margin: auto;
    }

    .zigzag-timeline::before {
        left: 30px;
    }

    .timeline-icon {
        left: 30px;
        transform: translateX(0);
    }
}

/* portfolio */
.portfolio {
    position: relative;
    background: var(--putih);
    width: 100%;
    height: auto;
    padding: 5rem 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.portfolio h2 {
    position: relative;
    color: var(--hitam);
    font-size: 1.5rem;
    font-family: var(--poppins);
    font-weight: 600;
    margin-bottom: 1rem;
}

.portfolio-cont {
    position: relative;
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.portfolio-card {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0px 0px 5px var(--shadow);
}

.portfolio-card img {
    width: 100%;
    height: 100%;
}

.portfolio-card::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: var(--glass-header);
    opacity: 0;
    transition: 0.3s;
}
.portfolio-card:hover::before {
    cursor: pointer;
    opacity: 1;
}

.portfolio-card button {
    position: absolute;
    background: var(--accent);
    color: var(--hitam);
    font-size: 1rem;
    font-family: var(--poppins);
    padding: 0.3rem 0.8rem;
    border:none;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s;
}

.portfolio-card:hover button {
    cursor: pointer;
    visibility: visible;
    opacity: 1;
}

.portfolio-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.8);
    width: 500px;
    height: auto;

    background: #ffffff;
    color: #000;
    padding: 2rem;
    border-radius: 20px;

    box-shadow: 0px 10px 25px rgba(0,0,0,0.2);

    opacity: 0;
    visibility: hidden;
    transition: 0.3s ease;
    z-index: 200;
}

/* Saat aktif */
.portfolio-popup.active {
    transform: translate(-50%, -50%) scale(1);
    visibility: visible;
    opacity: 1;
}

/* Close Button */
.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: transparent;
    border: none;
    font-size: 1.2rem;
    color: #000;
    cursor: pointer;
    font-weight: bold;
}

/* Judul & Deskripsi */
.popup-title {
    position: relative;
    margin-top: 1rem;
    font-size: 1.5rem;
    font-family: var(--poppins);
}

.popup-desc {
    position: relative;
    opacity: 0.8;
    font-size: 0.9rem;
    font-family: var(--poppins);
    margin-bottom: 1rem;
}

.popup-img {
    position: relative;
    margin-top: 1rem;
    width: 100%;
    height: 200px;
}

.popup-tech {
    position: relative;
    margin-top: 1rem;
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
    font-family: var(--poppins);
    color: var(--putih);
    background: var(--hitam);
    border-radius: 1rem;
}

.popup-links {
    position: relative;
    text-decoration: none;
    color: var(--hitam);
    font-size: 0.9rem;
    font-family: var(--poppins);
    background: var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 1rem;
}

/* contact */
.contact {
    position: relative;
    background: var(--hitam);
    width: 100%;
    height: auto;
    padding: 5rem 10%;
}

.contact-cont {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: auto;
    background: var(--putih);
    border-radius: 25px;
}

.contact-img {
    border-radius: 25px 0 0 25px;
}

.contact-cont form {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    padding: 2rem;
}

.contact-cont form h2 {
    position: relative;
    color: var(--hitam);
    font-size: 1.5rem;
    font-family: var(--poppins);
    font-weight: 600;
    margin-bottom: 1rem;
}

.contact-cont form p {
    position: relative;
    color: var(--hitam);
    font-size: 0.9rem;
    font-family: var(--poppins);
    margin-bottom: 1rem;
}

.contact-cont form label {
    position: relative;
    color: var(--hitam);
    font-size: 0.9rem;
    font-family: var(--poppins);
    margin-bottom: 0.3rem;
}

.contact-cont form input,
.contact-cont form textarea {
    position: relative;
    width: 100%;
    padding: 0.8rem 1.2rem;
    border-radius: 25px;
    border: none;
    outline: none;
    background: var(--desc);
    color: var(--hitam);
    font-size: 0.9rem;
    font-family: var(--poppins);
    margin-bottom: 1rem;
}

.contact-cont form textarea {
    resize: none;
    height: 100px;
}

.contact-cont form button {
    position: relative;
    width: 100%;
    padding: 0.8rem 1.2rem;
    border-radius: 25px;
    border: none;
    outline: none;
    background: var(--accent);
    color: var(--hitam);
    font-size: 0.9rem;
    font-family: var(--poppins);
    margin-bottom: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.contact-cont form button:hover {
    background: var(--hitam);
    color: var(--putih);
}

/* footer */
footer {
    position: relative;
    width: 100%;
    height: auto;
    background: var(--header);
    display: flex;
    align-items: center;
    flex-direction: column;
}

.footer-cont {
    position: relative;
    display: flex;
    gap: 0.5rem;
    margin-top: 1rem;
}

.footer-cont a {
    position: relative;
    text-decoration: none;
    color: var(--putih);
    background: var(--hitam);
    display: grid;
    place-items: center;
}

.footer-cont a i {
    position: relative;
    color: var(--putih);
    font-size: 2rem;
}

.footer-cont a i:hover {
    color: var(--accent);
}

.copyright {
    width: 100%;
    padding: 1rem 15%;
    text-align: center;
    color: var(--desc);
    font-size: 0.8rem;
    font-family: var(--poppins);
}


@media screen and (max-width: 480px) {
    nav {
        display: none;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
        background: transparent;
        color: var(--putih);
        border: none;
        font-size: 1.5rem;
    }

    .menu-cont {
        visibility: hidden;
        opacity: 0;
        display: block;
        position: absolute;
        top: 5rem;
        right: 0;
        background: var(--glass-header);
        padding: 0.5rem 1rem;
        border-radius: 10px;
        z-index: 999;
        transition: 0.3s ease-in-out;
        transform: scale(0.9);
    }

    .menu-cont ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .menu-cont ul li {
        list-style: none;
    }

    .menu-cont ul li a {
        text-decoration: none;
        color: var(--putih);
        font-size: 1rem;
        font-family: var(--poppins);
        transition: 0.3s;
    }

    .menu-cont ul li a:hover {
        color: var(--accent);
    }

    .home {
        padding: 2.5rem 0;
    }

    .home-cont {
        width: 95%;
    }

    .home-title {
        font-size: 2rem;
    }

    .home-desc {
        font-size: 0.9rem;
    }

    .home-btn {
        font-size: 0.9rem;
    }

    .about {
        width: 95%;
        padding: 2.5rem 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-cont:nth-child(1) {
        width: 100%;
    }

    .skills {
        padding: 2.5rem 2.5%;
        width: 100%;
    }

    .skills-cont {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .skills-card img {
        width: 75px;
    }

    .experiences {
        width: 100%;
        padding: 2.5rem 2.5%;
    }

    .timeline-icon {
        background: transparent;
        left: -10px;
    }

    .zigzag-timeline::before {
        left: 15px;
    }

    .zigzag-content {
        padding: 1rem 1.5rem;
        left: 1rem;
    }

    .zigzag-content h3 {
        font-size: 1rem;
    }

    .zigzag-content p {
        font-size: 0.8rem;
    }

    .portfolio {
        padding: 2.5rem 2.5%;
    }

    .portfolio-cont {
        gap: 1rem;
    }

    .portfolio-card button {
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
    }

    .contact {
        padding: 2.5rem 2.5%;
    }

    .contact-img {
        display: none;
    }
}

@media screen and (min-width: 481px) and (max-width: 1100px) {
    nav {
        display: none;
    }

    .menu-btn {
        display: block;
        cursor: pointer;
        background: transparent;
        color: var(--putih);
        border: none;
        font-size: 1.5rem;
    }

    .menu-cont {
        visibility: hidden;
        opacity: 0;
        display: block;
        position: absolute;
        top: 5rem;
        right: 0;
        background: var(--glass-header);
        padding: 0.5rem 1rem;
        border-radius: 10px;
        z-index: 999;
        transition: 0.3s ease-in-out;
        transform: scale(0.9);
    }

    .menu-cont ul {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    .menu-cont ul li {
        list-style: none;
    }

    .menu-cont ul li a {
        text-decoration: none;
        color: var(--putih);
        font-size: 1rem;
        font-family: var(--poppins);
        transition: 0.3s;
    }

    .menu-cont ul li a:hover {
        color: var(--accent);
    }

    .home {
        padding: 2.5rem 0;
    }
    .home-cont {
        width: 95%;
    }

    .home-title {
        font-size: 2rem;
    }

    .home-desc {
        font-size: 0.9rem;
    }

    .home-btn {
        font-size: 0.9rem;
    }

    .about {
        width: 95%;
        padding: 2.5rem 0;
        flex-wrap: wrap;
        justify-content: center;
    }

    .about-cont:nth-child(1) {
        width: 100%;
    }

    .skills {
        padding: 2.5rem 2.5%;
        width: 100%;
    }

    .skills-cont {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .skills-card img {
        width: 75px;
    }

    .experiences {
        width: 100%;
        padding: 2.5rem 2.5%;
    }

    .timeline-icon {
        background: transparent;
        left: -10px;
    }

    .zigzag-timeline::before {
        left: 15px;
    }

    .zigzag-content {
        padding: 1rem 1.5rem;
        left: 1rem;
    }

    .zigzag-content h3 {
        font-size: 1rem;
    }

    .zigzag-content p {
        font-size: 0.8rem;
    }

    .portfolio {
        padding: 2.5rem 2.5%;
    }

    .portfolio-cont {
        gap: 1rem;
    }

    .portfolio-card button {
        font-size: 0.8rem;
        padding: 0.2rem 0.5rem;
    }

    .contact {
        padding: 2.5rem 2.5%;
    }

    .contact-img {
        display: none;
    }

    .contact-cont {
        width: 100%;
    }

    .contact-cont form {
        width: 100%;
    }

    .contact-cont form h2 {
        font-size: 1.5rem;
    }

    .contact-cont form label {
        font-size: 0.8rem;
    }

    .contact-cont form textarea {
        height: 100px;
    }

    .contact-cont form button {
        font-size: 0.8rem;
    }

}
